a {
    color: #f0e7d6;
  }
  a:visited {
    color: #f0e7d6;
  }
  li {
    margin-bottom: 10px;
  }
  .burgerMenu__btn {
    position: absolute;
    top: 1.3%;
    left: 5%;
    cursor: pointer;
  }
  .burgerMenu__btn::before {
    content: "";
    display: block;
    background-color: #f0e7d6;
    width: 40px;
    height: 4px;
    transition: all 0.3s cubic-bezier(0.36, 0, 0.66, -0.56);
  }
  .header__burgergMenu:hover .burgerMenu__btn:hover::before {
    background-color: #af9572;
    transition: all 0.3s cubic-bezier(0.36, 0, 0.66, -0.56);
  }
  .burgerMenu__btn::after {
    content: "";
    display: block;
    background-color: #f0e7d6;
    width: 20px;
    height: 4px;
    margin-top: 10px;
    transition: all 0.6s cubic-bezier(0.36, 0, 0.66, -0.56);
  }
  .header__burgergMenu:hover .burgerMenu__btn:hover::after {
    width: 40px;
    background-color: #af9572;
    transition: all 0.6s cubic-bezier(0.36, 0, 0.66, -0.56);
  }
  .burgerMenu__btn2 {
    position: absolute;
    height: 63px;
    width: 40px;
    top: -10px;
    cursor: pointer;
  }
  .burgerMenu__btn2::after {
    content: "";
    display: block;
    background-color: #f0e7d6;
    width: 27px;
    height: 4px;
    margin-top: 38px;
    transition: all 0.9s cubic-bezier(0.36, 0, 0.66, -0.56);
  }
  .header__burgergMenu:hover .burgerMenu__btn2:hover::after {
    width: 40px;
    background-color: #af9572;
    transition: all 0.9s cubic-bezier(0.36, 0, 0.66, -0.56);
  }
  .header__burgergMenu.active .burgerMenu__btn::before {
    transform: rotateZ(45deg) translateY(13px) translateX(10px);
  }
  .header__burgergMenu.active .burgerMenu__btn::after {
    transform: rotateZ(45deg) translateY(3px) translateX(0px);
    width: 40px;
  }
  .header__burgergMenu.active .burgerMenu__btn2::after {
    width: 40px;
    transform: rotateZ(-45deg) translateY(-8px) translateX(6px);
  }
  .burgerMenu__content {
    position: absolute;
    color: #f0e7d6;
    background-color: #3f2f22;
    left: -50%;
    opacity: 0;
    padding: 25px;
    transition: 0.7s cubic-bezier(0.37, 0, 0.63, 1);
  }
  .burgerMenu__content.active {
    visibility: visible;
    opacity: 1;
    left: 0%;
    transition: 0.7s cubic-bezier(0.37, 0, 0.63, 1);
  }
  
  .activeContent {
    transition: 0.7s cubic-bezier(0.37, 0, 0.63, 1);
    list-style: initial;
  }
  .notActiveContent {
    text-decoration: none;
    transition: 0.7s cubic-bezier(0.37, 0, 0.63, 1);
  }
  .notActiveContent:after {
    content: "";
    display: block;
    height: 2px;
    left: 14%;
    position: absolute;
    background: #959072;
    width: 0px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .notActiveContent:hover:after {
    width: 50%;
  }