.header__inner {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #f0e7d6;
}
.logo {
  text-align: end;
}
.logo__img {
  width: 10%;
}
.aboutProject {
  padding: 80px 0 100px 0;
}
.aboutProjec-text {
  color: #f0e7d6;
  font-size: 18px;
  line-height: 22px;
}
.map {
  padding: 27px 0 30px 0;
}
.material {
  display: grid;
}
.material::before {
  content: "";
  width: 840px;
  height: 0px;
  border: 2px dashed #443f2b;
  transform: translate(150px, 120px) rotate(8deg);
  top: 60%;
  left: 28%;
}
.material::after {
  content: "";
  width: 389px;
  height: 0px;
  border: 2px dashed #443f2b;
  transform: translate(603px, -135px) rotate(343deg);
  top: 73%;
  left: 52%;
}
.material__html {
  color: #f0e7d6;
  background-color: #af9572;
  justify-self: start;
  width: 20%;
}

.material__css {
  color: #f0e7d6;
  background-color: #af9572;
  justify-self: end;
  width: 20%;
}
.material__css-button{
  text-align: end;
}
.material__js {
  color: #f0e7d6;
  background-color: #af9572;
  justify-self: center;
  width: 20%;
}


/* media */

@media (max-width: 1556px) {
  .material::after {
    width: 375px;
  }
  .material::before {
    width: 831px;
  }
}

@media (max-width: 1144px) {
  .material::after {
    width: 360px;
  }
  .material::before {
    width: 810px;
  }
}
@media (max-width: 1024px) {
  .material::after {
    width: 325px;
    transform: translate(529px, -108px) rotate(343deg);
  }
  .material::before {
    width: 700px;
  }
  .logo__img {
    width: 15%;
  }
}
@media (max-width: 768px) {
  .material::after {
    width: 241px;
    transform: translate(390px, -85px) rotate(343deg);
  }
  .material::before {
    width: 529px;
    transform: translate(98px, 87px) rotate(8deg);
  }
  .logo__img {
    width: 21%;
  }
}
@media (max-width: 425px) {
  .material::after {
    width: 128px;
    transform: translate(211px, -44px) rotate(343deg);
  }
  .material::before {
    width: 281px;
    transform: translate(55px, 47px) rotate(8deg);
  }
  .logo__img {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .material::after {
    width: 91px;
    transform: translate(188px, -57px) rotate(334deg);
  }
  .material::before {
    width: 207px;
    transform: translate(68px, 58px) rotate(11deg);
  }
  .material__css,
  .material__html,
  .material__js {
    width: 30%;
  }
}
@media (max-width: 320px) {
  .material::after {
    width: 82px;
    transform: translate(155px, -47px) rotate(327deg);
  }
  .material::before {
    width: 159px;
    transform: translate(63px, 47px) rotate(13deg);
  }
}
/* media */
