.task {
  padding: 80px 0 35px 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}
.answer {
  padding: 80px 0 35px 0;
}
.answer__inner {
  color: #f0e7d6;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}
.answer__code {
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.answer__inner:hover .answer__code {
  visibility: visible;
}
@media (max-width: 1165px) {
  .task__inner,
  .theory__inner {
    width: 950px;
  }
}
@media (max-width: 947px) {
  .task__inner,
  .theory__inner {
    width: 900px;
  }
  .header__numberLesson {
    justify-self: start;
  }
}
@media (max-width: 863px) {
  .task__inner,
  .theory__inner {
    width: 800px;
  }
  .header__numberLesson {
    justify-self: start;
  }
}
@media (max-width: 796px) {
  .task__inner,
  .theory__inner {
    width: 700px;
  }
}
@media (max-width: 710px) {
  .task__inner,
  .theory__inner {
    width: 600px;
  }
}
@media (max-width: 618px) {
  .task__inner,
  .theory__inner {
    width: 500px;
  }
}
@media (max-width: 518px) {
  .task__inner,
  .theory__inner {
    width: 400px;
  }
}
@media (max-width: 400px) {
  .task__inner,
  .theory__inner {
    width: 300px;
  }
}