.theory {
  padding: 80px 0 0 0;
}
.theory__inner {
  color: #f0e7d6;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}
.chocolate {
  color: #3f2f22;
  font-weight: 900;
}
.task {
  padding: 80px 0 35px 0;
}
.task__inner {
  color: #f0e7d6;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}
.task__list {
  list-style: inherit;
  margin: 25px 0 25px 50px;
}
.task__list-object {
  list-style: disc;
}
.task__prompt {
  cursor: pointer;
}
.prompt {
  display: none;
}
.prompt.active {
  display: block;
}
.answer {
  padding: 80px 0 35px 0;
}
.answer__inner {
  color: #f0e7d6;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}
.answer__code {
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.answer__inner:hover .answer__code {
  visibility: visible;
}
@media (max-width: 874px) {
  .task__inner,
  .theory__inner {
    width: 700px;
  }
  .header__numberLesson {
    justify-self: start;
    font-size: 20px;
  }
  .footer {
    display: flex;
  }
  .answer__code-img {
    display: none;
  }
}
@media (max-width: 716px) {
  .task__inner,
  .theory__inner {
    width: 600px;
  }
}
@media (max-width: 622px) {
  .task__inner,
  .theory__inner {
    width: 500px;
  }
}
@media (max-width: 512px) {
  .task__inner,
  .theory__inner {
    width: 400px;
  }
}
@media (max-width: 460px) {
  .answer__inner,
  .task__inner,
  .theory__inner {
    width: 400px;
  }
  .answer__code {
    display: block;
  }
}

@media (max-width: 375px) {
  .header__numberLesson {
    font-size: 18px;
  }
  .answer__inner,
  .task__inner,
  .theory__inner {
    width: 340px;
  }
}

@media (max-width: 320px) {
  .answer__inner,
  .task__inner,
  .theory__inner {
    width: 280px;
  }
}
