.theory {
  padding: 80px 0 35px 0;
}
.theory__inner {
  color: #f0e7d6;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}
.font__size {
  font-size: 16px;
}
.font_w100 {
  font-weight: 100;
}
.font_w900 {
  font-weight: 900;
}
.line__height {
  line-height: 90px;
}
.color{
  color: #3f2f22;
}