.stateExample:hover {
  color: #3f2f22;
}
.example {
  margin-bottom: 30px;
}
.linkExample:link {
  color: #3f2f22;
}
.visitedExample:visited {
  color: #708090;
}
.activeExample {
  background: #443f2b;
  padding: 15px;
  border-radius: 50px;
  transition: all ease-in-out 0.15s;
}
.activeExample:active {
  background: #984b17;
}
.example-block:nth-child(1) {
  background-color: #3f2f22;
}
.example-block:nth-child(2n){
  background-color: #443F2B;
}
.example-block:nth-child(3){
  background-color: #984B17;
}
.subtitle {
  font-weight: 600;
}
