.firstLineExample::first-line {
  color: #3f2f22;
}
.firstLetterExample::first-letter {
  color: #3f2f22;
}
.afterExample {
  background-color: #fff;
  width: 100px;
  height: 100px;
}
.afterExample::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  animation: moveBlackBox 2s infinite ease-in;
}

@keyframes moveBlackBox {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(90px, 0);
  }
  40% {
    transform: translate(90px, 90px);
  }
  80% {
    transform: translate(0, 90px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.beforeExample::before {
  content: "Я псевдоэлемент ::before";
  margin-right: 20px;
}
@media (max-width: 320px) {
  .whatPsevdo h2{
    font-size: 24px;
  }
}
