.page {
  overflow: visible;
}
.whatPost,
.floatPos,
.positioning,
.positingCros,
.listBlock {
  padding: 0 0 35px 0;
}
.whatPost{
  padding-top: 80px;
}
.block {
  width: 100px;
  height: 100px;
  float: left;
  background-color: #f0e7d6;
  cursor: pointer;
}
.block.right {
  float: right;
}
.firstPos {
  padding: 25px;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: #f0e7d6;
}
.secondPos {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #959072;
}
@media (max-width: 320px) {
  .whatPost h2{
    font-size: 24px;
  }
}